body {
    font-family: "Libre Franklin", Arial, sans-serif;
    max-width: 50rem;
    margin: 4rem auto;
    background: #16262c;
    color: #ddd;
    padding: max(calc(50vh - 22rem), 1rem) 1rem 1rem;
    font-size: 18px;
  }
  
  h1 {
    margin-bottom: 2em;
    text-align: center;
    color: #fff;
  }
  h1 span {
    color: #77b728;
  }
  
  p {
    color: #ffffff7f;
    font-size: 1.2rem;
    line-height: 1.66;
    font-weight: 300;
    margin: 1rem 0 1.5rem;
  }
  p strong {
    color: #ddd;
    font-weight: 700;
  }
  
  .details-tab {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    color: #ffffffcc;
    font-weight: 600;
    display: block;
    order: 0;
    background: #ffffff13;
    border-radius: 1.5rem;
    margin-right: 0.35rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    border: 2px solid transparent;
  }
  .details-tab:hover, .details-tab:focus {
    border-color: #fff;
  }
  .details-tab::-webkit-details-marker {
    display: none;
  }
  
  .details-tabs {
    position: relative;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .details-content {
    order: 1;
    padding: 1rem;
    width: 100%;
  }
  .details-content details {
    margin: 1.5rem;
  }
  .details-content details summary {
    font-weight: 600;
  }
  
  .details-item {
    display: contents;
  }
  .details-item[open] > .details-tab {
    background: #fff;
    color: #333;
  }